 <!-- <footer> -->
    <footer class="bg-gray-800">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
            <div class="xl:flex xl:items-center xl:justify-between">
                <div class="xl:flex-1 xl:mr-4">
                    <h3 class="text-white hover:text-purple-800 font-bold text-2xl mb-2">Myworldakp</h3>
                    <p class="text-gray-400 text-sm">This is my website mainly design for the uploading various
                        documents. </p>
                </div>
                <div class="mt-8 xl:mt-0">
                    <a href="#" class="text-gray-400 hover:text-white mr-4 bg-blue-900 px-3 rounded"><i
                            class="fa fa-facebook"></i></a>
                    <a href="#" class="text-gray-400 hover:text-blue-800 hover:bg-white rounded px-2  mr-4"><i
                            class="fa fa-twitter"></i></a>
                    <a href="#" class="text-gray-400 hover:text-pink-900 hover:bg-white rounded px-2 mr-4"><i
                            class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="mt-8 border-t border-gray-700 pt-8 xl:flex xl:items-center xl:justify-between">
                <p class="text-gray-400 text-sm xl:text-left">© 2023 My Website. All rights reserved.</p>
                <div class="mt-4 xl:mt-0 xl:flex-1 xl:text-right">
                    <a href="#" class="text-gray-400 hover:text-white mr-4">Terms</a>
                    <a href="#" class="text-gray-400 hover:text-white mr-4">Privacy</a>
                    <a href="#" class="text-gray-400 hover:text-white">Cookie Policy</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer closed  -->