{% load static %}
 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css" />
</head>
<body>
    {% include 'header.html' %}
    <div style="mx-8">
        <div> History of this website.</div>

        {% comment %} get(Small-1024 and not secure data send to the URL) and post method(Used for large amount of data and more security on the data) for http request  {% endcomment %}
    </div>
    {% include 'footer.html' %}
</body>
</html>